@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 50px;
}

main {
  display: flex;
  flex-direction: column;
}

.datos-empresa {
  text-align: end;
  align-self: flex-end;
  background-color: rgb(114, 207, 114);
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 150px;
  width: 700px;
  background-image: url(../img/logo.JPG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  margin: auto;
  border-radius: 15px;
}

.mapa {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding: 20px;
}

.mapa iframe {
  display: inline-block;
  width: 80%;
  margin: auto;
  height: 300px;
}

.mapa h2 {
  font-size: 20px;
  padding-bottom: 10px;
  margin: auto;
}

.datos-empresa h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.name-lastname,
.email-tel,
.consulta {
  display: flex;
  padding: 15px;
}

.consulta {
  margin: auto;
  width: 70%;
  height: 200px;
}

.name-lastname div,
.email-tel div,
.consulta div {
  display: flex;
  background-color: rgb(143, 138, 138);
  margin: 5px;
  width: 50%;
  height: 50px;
  border-width: 5px;
  border-style: groove;
  border-radius: 5px;
}

.name-lastname div > label,
.email-tel div > label,
.consulta div > label {
  width: 20%;
  align-self: center;
  margin-left: 15px;
}

.name-lastname div > input,
.email-tel div > input {
  width: 80%;
  padding: 10px;
  font-size: 20px;
}

.consulta > div {
  height: 200px;
  align-self: center;
  margin: auto;
  width: 90%;
}

.consulta > div > textarea {
  align-self: stretch;
  flex-grow: 8;
  padding: 15px;
  font-size: 20px;
}

#info-consulta {
  margin: 10px;
  text-align: center;
  height: fit-content;
  align-self: center;
  font-style: italic;
}

#boton {
  /* margin: 50px; */
  width: 200px;
  height: 60px;
  background-image: url(../img/fondo-gris.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  opacity: 80%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(158, 150, 158, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(158, 150, 158, 1);
  box-shadow: 10px 10px 5px 0px rgba(158, 150, 158, 1);
  border-radius: 5px;
}

#boton:hover {
  color: black;
  opacity: 100%;
  transform: scale(1.5, 1.5);
}

.error {
  display: inline-block;
  padding: 20px;
  width: 100%;
  color: crimson;
  font-size: 20px;
}
