.detalle-curso-container {
  /* background-color: black; */
  background-image: url(../img/fondos/fondo-matrix.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  padding: 35px;
  color: antiquewhite;
}

.img-box {
  position: absolute;
  top: 20px;
  right: 40px;
  height: 460px;
  width: 300px;
  background-color: #c2f554;
  background-image: url(../img/detalle-curso-android.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-radius: 7px;
}

.img-box span {
  color: rgb(4, 80, 20);
  background-color: rgb(114, 207, 114);
  width: 70%;
  height: 50px;
  text-align: center;
  align-self: center;
  position: relative;
  top: 202px;
  border-radius: 5px;
  line-height: 50px;
  font-weight: bold;
}

.img-box div {
  position: relative;
  top: 200px;
  margin: 10px;
  padding: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  color: rgb(4, 63, 34);
}

.img-box div > h3 {
  padding: 5px;
  font-size: 18px;
}

.img-box div > ul > li {
  list-style: circle;
  margin: 7px 0px 7px 0px;
}

.img-box div > button {
  display: block;
  width: 100px;
  padding: 7px 0px 7px 0px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(139, 148, 123);
  align-self: flex-end;
  box-shadow: 7px 7px 5px 0px rgba(102, 99, 99, 0.75);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(102, 99, 99, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(102, 99, 99, 0.75);
}

.img-box div > button:hover {
  color: blue;
  font-weight: bold;
  width: 150px;
}

.introduccion-al-curso {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 15px;
}
.introduccion-al-curso h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.introduccion-al-curso p {
  margin-bottom: 20px;
  font-size: 18px;
}

.introduccion-al-curso div > h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.introduccion-al-curso div > ul {
  padding-left: 30px;
}

.introduccion-al-curso div > ul > li {
  list-style-position: inside;
  list-style: circle;
}
/* ---------------------------------------------------------------------------- */

.contenido-de-la-clase {
  display: flex;
  flex-direction: column;
}

.contenido-de-la-clase h3 {
  font-size: 25px;
  margin: 10px;
  display: inline-block;
}

.contenido-de-la-clase div > ol {
  padding: 15px;
}

.contenido-de-la-clase div > ol > li {
  font-size: 20px;
  list-style-position: inside;
  padding: 40px 10px 15px 15px;
  text-decoration: underline;
}

.modulo {
  width: 90%;
  margin-left: 30px;
}

.modulo li {
  list-style: none;
}

.modulo li > div {
  border-style: groove;
  border-radius: 5px;
  display: flex;
  width: 50%;
  height: 30px;
}

.video {
  background-image: url(../img/icono-video.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  padding: 15px;
  display: block;
  width: 80%;
}

.video p {
  margin-left: 30px;
  line-height: 5px;
}

.reloj {
  width: 30%;
  background-image: url(../img/clock.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 15px;
  display: block;
  width: 20%;
}

.reloj p {
  text-align: right;
  margin-right: 20px;
  line-height: 5px;
}

/* ---------------------------------------------------------------------------- */

.docente {
  display: flex;
  background-color: brown;
  height: 230px;
}

.perfil {
  background-image: url(../img/ranking.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 210px;
}
.docente img {
  margin: auto;
  border-radius: 50%;
  width: 150px;
  margin: 20px;
}
