.detalle-curso-container {
  /* background-color: black; */
  background-image: url(../img/fondos/fondo-matrix.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  padding: 35px;
  color: antiquewhite;
}

.img-box {
  position: absolute;
  top: 20px;
  right: 40px;
  height: 460px;
  width: 300px;
  background-color: #c2f554;
  background-image: url(../img/detalle-curso-android.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-radius: 7px;
}

.img-box span {
  color: rgb(4, 80, 20);
  background-color: rgb(114, 207, 114);
  width: 70%;
  height: 50px;
  text-align: center;
  align-self: center;
  position: relative;
  top: 202px;
  border-radius: 5px;
  line-height: 50px;
  font-weight: bold;
}

.img-box div {
  position: relative;
  top: 200px;
  margin: 10px;
  padding: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  color: rgb(4, 63, 34);
}

.img-box div > h3 {
  padding: 5px;
  font-size: 18px;
}

.img-box div > ul > li {
  list-style: circle;
  margin: 7px 0px 7px 0px;
}

.img-box div > button {
  display: block;
  width: 100px;
  padding: 7px 0px 7px 0px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(139, 148, 123);
  align-self: flex-end;
  box-shadow: 7px 7px 5px 0px rgba(102, 99, 99, 0.75);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(102, 99, 99, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(102, 99, 99, 0.75);
}

.img-box div > button:hover {
  color: blue;
  font-weight: bold;
  width: 150px;
}

.introduccion-al-curso {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 15px;
}
.introduccion-al-curso h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.introduccion-al-curso p {
  margin-bottom: 20px;
  font-size: 18px;
}

.introduccion-al-curso div > h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.introduccion-al-curso div > ul {
  padding-left: 30px;
}

.introduccion-al-curso div > ul > li {
  list-style-position: inside;
  list-style: circle;
}
/* ---------------------------------------------------------------------------- */

.contenido-de-la-clase {
  display: flex;
  flex-direction: column;
  margin: 10px 150px 10px 150px;
}

.contenido-de-la-clase h3 {
  font-size: 25px;
  margin: 10px;
  display: inline-block;
}

.contenido-de-la-clase div > ol {
  padding: 15px;
}

.contenido-de-la-clase div > ol > li {
  font-size: 20px;
  list-style-position: inside;
  padding: 40px 10px 15px 15px;
  text-decoration: underline;
}

.modulo {
  width: 90%;
  margin-left: 30px;
}

.modulo li {
  list-style: none;
}

.modulo li > div {
  border-style: groove;
  border-radius: 5px;
  display: flex;
  width: 50%;
  height: 30px;
}

.video {
  background-image: url(../img/icono-video.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  padding: 15px;
  display: block;
  width: 80%;
}

.video p {
  margin-left: 30px;
  line-height: 5px;
}

.reloj {
  width: 30%;
  background-image: url(../img/clock.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 15px;
  display: block;
  width: 20%;
}

.reloj p {
  text-align: right;
  margin-right: 20px;
  line-height: 5px;
}

/* ---------------------------------------------------------------------------- */

.docente {
  display: flex;
  background-color: #c2f554;
  height: 230px;
  margin: 50px 0px 50px 0px;
  padding: 10px;
  border-radius: 20px;
}

.foto {
  background-image: url(../img/ranking.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 225px;
}
.docente img {
  margin: auto;
  border-radius: 50%;
  width: 170px;
  margin: 20px;
}

.perfil h3 {
  font-size: 20px;
  margin: 10px;
  display: block;
  width: auto;
  text-align: center;
  font-weight: bold;
  color: #5a8009;
  background-color: aliceblue;
}

.perfil p {
  width: 80%;
  font-size: 17px;
  text-align: justify;
  color: #4e6f06;
  padding-top: 20px;
  margin: auto;
}
/* ---------------------------------------------------------------------------- */
/* .cursos-populares {
  margin: 100px;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
}

.cursos-populares div {
  margin: 15px;
  background-color: darkgoldenrod;
  width: 150px;
  height: 150px;
}

.cursos-populares div h3 {
  background-color: darkgray;
  width: 100%;
  line-height: 30px;
  text-align: center;
} */

.cursos-populares {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  height: 230px;
}

.curso-1,
.curso-2,
.curso-3 {
  border-radius: 10px;
  background-color: rgb(127, 166, 214);
  margin: 15px;
  height: 100px;
  padding: 50px;
  -webkit-box-shadow: -37px -32px 7px -8px rgba(139, 133, 222, 1);
  -moz-box-shadow: -37px -32px 7px -8px rgba(139, 133, 222, 1);
  box-shadow: -37px -32px 7px -8px rgba(139, 133, 222, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
}

.curso-1 {
  background-image: url(../img/curso-full-stack.jpg);
  filter: opacity(90%);
  background-repeat: no-repeat;
  background-size: 62% 62%;
  background-position: center top;
}
.curso-2 {
  background-image: url(../img/diseno-web.png);
  filter: opacity(90%);
  background-repeat: no-repeat;
  background-size: 62% 62%;
  background-position: center top;
}
.curso-3 {
  background-image: url(../img/python.jpg);
  filter: opacity(90%);
  background-repeat: no-repeat;
  background-size: 62% 62%;
  background-position: center top;
}
.curso-populares-item1 {
  text-align: right;
  position: absolute;
  bottom: 50px;
  right: 0px;
  font-size: 18px;
  border-top-style: groove;
  width: 100%;
}
.curso-populares-item2 {
  font-weight: bold;
  position: absolute;
  bottom: 40px;
  left: 15px;
  font-size: 15px;
  display: inline-block;
  height: 30px;
}
.curso-populares-item3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30%;
  height: 30px;
  text-align: right;
  background-image: url(../img/precio.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right;
  text-align: center;
  font-size: 13px;
  display: block;
  width: 50%;
}
.curso-populares-item4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 2em;
  width: 40px;
  height: 40px;
}
