@import url("https://fonts.googleapis.com/css2?family=Changa&display=swap");

.detalle-curso-container {
  /* background-color: black; */
  background-image: url(../img/fondos/fondo-matrix.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  padding: 35px;
  color: antiquewhite;
}

.img-box {
  position: absolute;
  top: 20px;
  right: 40px;
  height: 460px;
  width: 300px;
  background-color: #c2f554;
  background-image: url(../img/detalle-curso-android.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-radius: 7px;
}

.img-box span {
  color: rgb(4, 80, 20);
  background-color: rgb(114, 207, 114);
  width: 70%;
  height: 50px;
  text-align: center;
  align-self: center;
  position: relative;
  top: 202px;
  border-radius: 5px;
  line-height: 50px;
  font-weight: bold;
}

.img-box div {
  position: relative;
  top: 200px;
  margin: 10px;
  padding: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  color: rgb(4, 63, 34);
}

.img-box div > h3 {
  padding: 5px;
  font-size: 0.9em;
}

.img-box div > ul > li {
  list-style: circle;
  margin: 7px 0px 7px 0px;
}

.img-box div > button {
  display: block;
  width: 100px;
  padding: 7px 0px 7px 0px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(139, 148, 123);
  align-self: flex-end;
  box-shadow: 7px 7px 5px 0px rgba(102, 99, 99, 0.75);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(102, 99, 99, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(102, 99, 99, 0.75);
}

.img-box div > button:hover {
  color: blue;
  font-weight: bold;
  width: 150px;
}

.introduccion-al-curso {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 15px;
}
.introduccion-al-curso h2 {
  font-size: 3.1em;
  margin-bottom: 20px;
}

.introduccion-al-curso p {
  margin-bottom: 20px;
  font-size: 0.9em;
}

.introduccion-al-curso div > h4 {
  margin-bottom: 10px;
  font-size: 0.9em;
}

.introduccion-al-curso div > ul {
  padding-left: 30px;
}

.introduccion-al-curso div > ul > li {
  list-style-position: inside;
  list-style: circle;
}
/* ---------------------------------------------------------------------------- */

.contenido-de-la-clase {
  display: flex;
  flex-direction: column;
  margin: 0px 100px 10px 100px;
  padding: 10px 75px 10px 75px;
  background-image: linear-gradient(
    to right top,
    #83f091,
    #88f07b,
    #90ef62,
    #9bed44,
    #a8eb12
  );
}

.contenido-de-la-clase h3 {
  font-size: 25px;
  margin: 10px;
  display: inline-block;
  font-family: "Changa", sans-serif;
}

.contenido-de-la-clase div > ol {
  padding: 15px;
}

.contenido-de-la-clase div > ol > li {
  width: 60%;
  font-size: 1.2em;
  font-family: "Changa", sans-serif;
  list-style-position: inside;
  padding: 40px 10px 15px 15px;
  text-decoration: underline;
  /*border: groove;*/
  vertical-align: middle;
  position: relative;
  /* display: block; */
}

.mostrar-detalle {
  position: absolute;
  right: 150px;
  background-image: url(../img/down-arrows_icon-icons.com_70186.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  cursor: pointer;
}

.ocultar-detalle {
  position: absolute;
  right: 100px;
  background-image: url(../img/up-arrows_icon-icons.com_69819.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  cursor: pointer;
}

.modulo {
  width: 90%;
  margin-left: 30px;
  display: none;
}

.modulo li {
  list-style: none;
}

.modulo li > div {
  border-style: groove;
  border-radius: 5px;
  display: flex;
  width: 50%;
  height: 30px;
}

.video {
  background-image: url(../img/icono-video.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  padding: 15px;
  display: block;
  width: 80%;
}

.video p {
  margin-left: 30px;
  line-height: 5px;
  font-family: "Changa", sans-serif;
}

.reloj {
  width: 30%;
  background-image: url(../img/clock.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 15px;
  display: block;
  width: 20%;
}

.reloj p {
  text-align: right;
  margin-right: 20px;
  line-height: 5px;
  font-family: "Changa", sans-serif;
}

/* ---------------------------------------------------------------------------- */

.docente {
  display: flex;
  background-color: #c2f554;
  height: 230px;
  margin: 50px 0px 50px 0px;
  padding: 10px;
  border-radius: 20px;
}

.foto {
  background-image: url(../img/ranking.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 225px;
}
.docente img {
  margin: auto;
  border-radius: 50%;
  width: 170px;
  margin: 20px;
}

.perfil h3 {
  font-size: 1em;
  font-family: "Changa", sans-serif;
  margin: 10px 10px 3px 10px;
  display: block;
  width: auto;
  text-align: center;
  font-weight: bold;
  color: #5a8009;
  background-color: aliceblue;
}

.perfil p {
  width: 80%;
  font-size: 0.85em;
  font-family: "Changa", sans-serif;
  text-align: justify;
  color: #4e6f06;
  padding-top: 20px;
  margin: auto;
}
/* ---------------------------------------------------------------------------- */

.cursos-populares {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  height: 230px;
  background-image: url(../img/fondos/fondo-claro.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
  border-bottom-style: double;
  border-top-style: double;
}

.curso-1,
.curso-2,
.curso-3 {
  border-radius: 10px;
  background-color: rgb(127, 166, 214);
  margin: 15px;
  height: 100px;
  padding: 50px;
  -webkit-box-shadow: -7px -6px 9px -1px rgba(119, 112, 224, 1);
  -moz-box-shadow: -7px -6px 9px -1px rgba(119, 112, 224, 1);
  box-shadow: -7px -6px 9px -1px rgba(119, 112, 224, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
}

.curso-1 {
  background-image: url(../img/curso-full-stack.jpg);
  filter: opacity(90%);
  background-repeat: no-repeat;
  background-size: 62% 62%;
  background-position: center top;
}
.curso-2 {
  background-image: url(../img/diseno-web.png);
  filter: opacity(90%);
  background-repeat: no-repeat;
  background-size: 62% 62%;
  background-position: center top;
}
.curso-3 {
  background-image: url(../img/python.jpg);
  filter: opacity(90%);
  background-repeat: no-repeat;
  background-size: 62% 62%;
  background-position: center top;
}
.curso-populares-item1 {
  text-align: right;
  position: absolute;
  bottom: 50px;
  right: 0px;
  font-size: 0.9em;
  border-top-style: groove;
  width: 100%;
}
.curso-populares-item2 {
  font-weight: bold;
  position: absolute;
  bottom: 40px;
  left: 15px;
  font-size: 0.8em;
  display: inline-block;
  height: 30px;
}
.curso-populares-item3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30%;
  height: 30px;
  text-align: right;
  background-image: url(../img/precio.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right;
  text-align: center;
  font-size: 0.7em;
  display: block;
  width: 50%;
}
.curso-populares-item4 {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icono-mas-info.png);
  background-size: contain;
}
.curso-populares-item5 {
  width: fit-content;
  padding: 5px;
  font-weight: bold;
  font-size: 0.8em;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: -3px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.curso-populares-item5:hover {
  position: absolute;
  bottom: 15px;
  left: 25px;
  /* width: 130px; */
  background-image: linear-gradient(
    to right top,
    #f200c8,
    #f240cb,
    #f15dce,
    #f074d1,
    #ee88d4
  );
  -webkit-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
