@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Nunito", sans-serif;
}

body {
  background-image: url(../img/fondos/grunge_wall.png);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  margin: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.header-container form > input {
  display: inline-block;
  width: 500px;
  height: 40px;
  border-radius: 12px;
  text-align: center;
  font-size: 15px;
}

.logo {
  margin-top: 5px;
  margin-left: 45px;
  width: 170px;
  border-radius: 50px 10px 50px 10px;
}

.shopping-cart {
  display: flex;
  background-color: #5496fe;
}

.shopping-cart a > img {
  width: 68px;
  position: absolute;
  right: 25px;
  top: 15px;
  transform: rotate(-10deg);
}

.shopping-cart a:hover > img {
  transform: rotate(30deg);
}

.shopping-cart span {
  position: absolute;
  right: 45px;
  top: 33px;
  background-color: rgb(218, 80, 80);
  width: 23px;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.menu-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 138, 138);
  list-style: none;
  height: 60px;
}

.menu-principal a {
  margin: 50px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.menu-principal a:hover {
  color: white;
}

/* ------------------------------------------------------------------------------- */

.footer-container {
  background-color: rgb(143, 138, 138);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  height: 160px;
  position: relative;
}

.goTop {
  background-image: url(../img/flechas-arriba.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 5px;
}

.integrantes {
  display: flex;
  flex-direction: column;
}

.integrantes h4,
.oficinas h4,
.contacto h4 {
  text-align: center;
  font-size: 15px;
  font-weight: 5px;
  padding: 5px;
  border-style: groove;
  border-radius: 15px;
  margin-bottom: 15px;
  width: 300px;
}

.integrantes ul > li {
  font-size: 14px;
  list-style: none;
  padding: 5px 5px 5px 5px;
  text-shadow: -4px -1px 2px rgba(103, 40, 191, 0.75);
  text-align: center;
  margin-top: 20px;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contacto a {
  margin: 10px;
}
.contacto a > img {
  width: 50px;
}

.oficinas {
  display: flex;
  flex-direction: column;
  margin: 0px 35px 0px 35px;
  position: relative;
}

.oficinas span {
  background-image: url(../img/icono-mapa.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 10px;
  padding: 5px 5px 5px 5px;
  border-style: groove;
  border-radius: 15px;
  font-size: 13px;
}

.oficinas-content {
  display: none;
  position: absolute;
  left: 300px;
  bottom: 160px;
  background-color: #a0b6aa;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 13px;
  z-index: 1;
}

.oficinas > span:hover .oficinas-content {
  display: block;
}

/* ------------------------------------------------------------------------------- */

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/fondos/fondo-claro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-container p {
  font-size: 30px;
  padding: 5px 10px;
  position: relative;
  bottom: 50px;
  opacity: 80%;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.slider img {
  width: 600px;
  padding: 15px;
  border-radius: 10%;
  filter: drop-shadow(8px 8px 10px gray);
}

.icono-flecha {
  font-size: 40px;
  color: rgb(26, 29, 238);
}

.pasos-inscripcion {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-image: url(../img/slider-3.jpg);
  background-repeat: no-repeat;
  background-size: 750px 400px;
  background-position: 10px;
  opacity: 80%;
  background-color: gray;
  align-items: flex-end;
}

.pasos-inscripcion h2 {
  align-self: flex-end;
  width: 50%;
  text-align: right;
  font-size: 70px;
}

.pasos-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 50%;
  height: 350px;
  background-color: greenyellow;
  position: relative;
  top: 10px;
  border-radius: 80px 15px 15px 80px;
  margin-bottom: 15px;
}

.pasos-container article,
i {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 50px;
  font-size: 25px;
}

/* --------------------------------------------------------------------------------------------------------- */

#cursos-destacados-titulo {
  color: rgb(47, 48, 124);
  text-align: left;
  height: 30px;
  font-size: 50px;
  padding: 50px;
  text-shadow: -3px 1px 2px rgba(39, 49, 169, 0.99);
}

.cursos-destacados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}

.item1,
.item2,
.item3,
.item4 {
  border-radius: 10px;
  background-color: rgb(127, 166, 214);
  margin: 15px;
  margin: 50px 80px 50px 80px;
  height: 200px;
  padding: 50px;
  -webkit-box-shadow: -7px -6px 9px -1px rgba(119, 112, 224, 1);
  -moz-box-shadow: -7px -6px 9px -1px rgba(119, 112, 224, 1);
  box-shadow: -7px -6px 9px -1px rgba(119, 112, 224, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(25% - 35px);
}

.item1 {
  background-image: url(../img/detalle-curso-android.jpg);
  filter: opacity(90%);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center top;
}

.item2 {
  background-image: url(../img/curso-full-stack.jpg);
  filter: opacity(90%);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center top;
}
.item3 {
  background-image: url(../img/diseno-web.png);
  filter: opacity(90%);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center top;
}
.item4 {
  background-image: url(../img/python.jpg);
  filter: opacity(90%);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center top;
}
.curso-destacado-item1 {
  font-family: "Changa", sans-serif;
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 0px;
  font-size: 30px;
  border-top-style: groove;
  width: 100%;
}
.curso-destacado-item2 {
  font-family: "Changa", sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 50px;
  left: 20px;
  font-size: 20px;
  display: inline-block;
  height: 30px;
}
.curso-destacado-item3 {
  font-family: "Changa", sans-serif;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 25%;
  height: 30px;
  text-align: left;
  background-image: url(../img/precio.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 0px 10px 10px 0px;
  text-align: left;
  line-height: 30px;
  font-size: 15px;
}
.curso-destacado-item4 {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-image: url(../img/icono-mas-info.png);
  background-size: contain;
}

/* ------------------------------------------------------------------------------- */

.medios-de-pago {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url(../img/fondos/fondo02.png);
  background-size: cover;
  background-position: top center;
  height: 400px;
  position: relative;
}

.medios-de-pago h2 {
  text-align: center;
  font-size: 40px;

  color: #444444;
  /* background: rgb(128, 131, 131); */
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
  position: absolute;
  top: 50px;
  padding: 40px;
  display: inline-block;
  width: 75%;
  margin: auto;
}

.medios-de-pago article {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  width: 80%;
  position: absolute;
  bottom: 50px;
}

.medios-de-pago article > img {
  border-radius: 20%;
  width: 150px;
  height: 130px;
  margin: 0px 55px 0px 55px;
}

/* ------------------------------------------------------------------------------- */

.aside {
  margin: auto;
  background-image: url(../img/fondos/aside-2.jpg);
  background-repeat: repeat-x;
  background-position: top;
  display: flex;
  box-sizing: border-box;
  position: relative;
  height: 500px;
  /* justify-content: space-around; */
}

.aside img {
  width: 100px;
  height: 100px;
}

.aside-item1,
.aside-item2,
.aside-item3 {
  padding: 15px;
  margin: 25px;
  width: 250px;
  height: 300px;
  border-radius: 20px;
  border-style: groove;
}

.aside-item1 {
  position: absolute;
  top: 100px;
  left: 150px;
  background-image: url(../img/noticias-infotechnology.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.aside-item2 {
  position: absolute;
  top: 100px;
  left: 520px;
  background-image: url(../img/noticias-lanacion.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.aside-item3 {
  position: absolute;
  top: 100px;
  right: 150px;
  background-image: url(../img/noticias-BBC-News-logo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.aside-item1 div,
.aside-item2 div,
.aside-item3 div {
  margin-top: 50px;
  position: relative;
  height: 80%;
}

.aside-item1 div > p,
.aside-item2 div > p,
.aside-item3 div > p {
  position: absolute;
  top: 50px;
  text-align: justify;
  font-size: 20px;
}

.aside-item1 div > a,
.aside-item2 div > a,
.aside-item3 div > a {
  position: absolute;
  bottom: 10px;
  right: 15px;
  text-decoration: none;
  background-image: linear-gradient(
    to bottom,
    #252fed,
    #1969fc,
    #5496fe,
    #94bef8,
    #d9e3ee
  );
  width: 80px;
  height: 30px;
  border-radius: 30px;
  font-weight: bold;
  color: #444444;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
}
