.form-container{
    padding: 30px;
    
}

.user-info-container{
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    padding: 10px;
    justify-content: center;
    
}

.datos{
    margin: 20px;
    height: 40px;
    width: 25%;
    border-radius: 12px;
    text-align: center;
    
}

.boton{
    height: 40px;
    width: 100px;
    border-radius: 12px;
    background-color: #c2f554;
    margin: 10px;
    cursor: pointer;
}

.boton:hover{
    color: #4e6f06;
}

.boton-inscribirse{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.boton-agregar{
    padding: 10px;
    margin: 30px;
    display: flex;
    justify-content: left;
}

.boton-agregar:hover{
    color: #4e6f06;
}



main{
    margin: 30px;
}

h1{
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

h2{
    text-align: center;

}

#precio{
    font-size: 30px;
}

.contenedor-titulo{
    background-color: #c2f554;
    width: 400px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

#titulo-curso{
    background-color: #4e6f06;
    width: 200px;
    position: relative;
    left: 100px;
}

